body{
    margin: 0px;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border: 0px;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
}

.header-links{
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    gap: 30px;
}

.hero{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}

.hero-header{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    display: flex;
}

.left-text{
    color: #E5E7EB;
    font-size: 18px;
}

.sign-up{
    background-color: #3882F6;
    color: white;
    border-color: #3882F6;

}

.right-image{

}

.information, .information-image, .information-image-text{
    display: flex;
}

.information{
    flex-direction: column;
}

.information-image{
    max-width: 200px;
    max-height: 200px;
    height: auto;
    width: auto;
    flex-direction: column;
}